* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Standard Hintergrundfarbe */
    color: #333;
    min-height: 100vh; /* Sicherstellen, dass der Body immer die volle Höhe des Viewports hat */
    padding-bottom: 50px; /* Platz für den Footer am unteren Rand */
    cursor: url('logos/MAHF_Cursor.png'), auto;
    overflow: auto; /* Standardmäßig scrollbar */
}

/* Spezifische Regel für die sound.html */
#sound {
    overflow: hidden; /* Scrollen deaktivieren */
    height: 100%; /* Sicherstellen, dass die gesamte Höhe ausgefüllt ist */
}

/* Cursoränderung beim Klicken auf Links (aktiv) */
a:active {
    cursor: url('logos/MAHF_Cursor_active.png'), pointer; /* Benutzerdefinierter Cursor im aktiven Zustand */
}

/* Cursoränderung, wenn der gesamte Body aktiv ist (z.B. beim Klicken irgendwo im Body) */
body:active {
    cursor: url('logos/MAHF_Cursor_active.png'), auto; /* Benutzerdefinierter Cursor für aktiven Body */
}

/* Cursor ändert sich beim Hover über Links */
a:hover {
    cursor: url('logos/MAHF_Cursor_active.png'), pointer; /* Benutzerdefinierter Cursor für Hover-Effekt */
}

/* Cursor ändert sich beim Hover über Buttons */
button:hover {
    cursor: url('logos/MAHF_Cursor_active.png'), pointer; /* Benutzerdefinierter Cursor für Hover-Effekt bei Buttons */
}

/* Spezifische Seiten-Hintergrundfarben */
#home {
    background-color: #000000;
}
#photo {
    background-color: #000000;
}
#art {
    background-color: #FFFDF8;
}
#MAHF {
    background-color: #000000;
}
#sound {
    background-color: #000000;
}
...
/* Der Rest des CSS bleibt gleich */
